
h1 {
color:white;
background-color: green;
text-align: center;
font-size:50px;
}
h2{
	background-color: green;
    color: white;
    text-align: center;
    font-size: 30;
}
.ibs {
	color: blue;  /* this is class selector example, used mutiple */
	background-color: aqua;
	text-align: center;
	font-size: 40;
}
#fda {
	color:black; /* this is class selector example, used mutiple */
	background-color: aqua;
	text-align: center;
	font-size: 30;
}
#ddant .first em {
	color: pink;  /* this is class selector example, used mutiple */
	background-color:yellow;
	font-size: 20px;
	text-align:center;
}
.serif {
	font-family: Arial;
}